In [1]:
import re
import datetime

import pandas as pd

In [2]:
%%time
# import Maria's data set
DATA_PATH = '../Data/'
FILE_NAME = 'Max, Samantha, Maria data.xlsx'
SHEET = 'Maria'

df = pd.read_excel(DATA_PATH + FILE_NAME, sheet_name=SHEET)

initial_row_count = df.shape[0]

C:\Users\Joseph\anaconda3\lib\site-packages\openpyxl\worksheet\_reader.py:211: UserWarning: Cell D2858 is marked as a date but the serial value 6684137 is outside the limits for dates. The cell will be treated as an error.
  warn(msg)

Wall time: 1.55 s

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4324 entries, 0 to 4323
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ID               4324 non-null   int64
 1   TP-Date          4324 non-null   int64
 2   RecNum           2159 non-null   float64
 3   RecDate          2855 non-null   object
 4   Item (modifier)  4314 non-null   object
 5   secondary name   10 non-null     float64
 6   coupon           2 non-null      object
 7   uncertain        52 non-null     object
 8   unknown          95 non-null     object
 9   NumPurchased     851 non-null    float64
 10  hit              0 non-null      float64
 11  miss             0 non-null      float64
 12  food category    4173 non-null   object
 13  comments         195 non-null    object
dtypes: float64(5), int64(2), object(7)
memory usage: 473.1+ KB

In [4]:
# standardize column names
df = df.drop(columns='coupon') # rarely used and missing from Max's data set
column_names = ['ID', 'Session', 'Receipt', 'Date', 
                'Item', 'Item2', 'Uncertain', 'Unknown', 
                'Quantity', 'Hit', 'Miss', 'Category', 'Comment']
df.columns = column_names

In [5]:
# ID column stores participant identification numbers as integers between 110 and 162
df.ID = df.ID.astype('uint8')

# participants assigned to all transcribers plus those unique to this data set
pids_assigned = ({121, 114, 137, 153, 141, 127, 130, 135, 148, 158} | 
                 {128, 134, 143, 146, 150, 154, 159, 110, 115, 119})

assert set(df.ID.unique()) <= pids_assigned

In [6]:
# Session column records the transcription session bookkeeping
df.Session = df.Session.astype('uint8')

# transcription was divided into 6 sessions
valid_sessions = [1, 2, 3, 4, 5, 6]

assert df.Session.isin(valid_sessions).all()

In [7]:
# Receipt column provides bookkeeping of grocery receipes per session

# df.info() has shown existence of missing values
null_receipt_count = df.Receipt.isna().sum()
print(f'{null_receipt_count} ({null_receipt_count / df.shape[0]:.0%}) rows missing Receipt values')

2165 (50%) rows missing Receipt values

In [8]:
# distinguishing between different receipts is essential to this data set
# missing Receipt number is unusable and dropped
df = df[df.Receipt.notna()]

# receipt numbers should be small integers and continuous
df.Receipt = df.Receipt.astype('uint8')
for pid in df.ID.unique():
    for session in df.loc[df.ID == pid, 'Session'].unique():
        receipt_numbers = list(df.loc[(df.ID == pid) & (df.Session == session), 'Receipt'].unique())
        if receipt_numbers != list(range(1, len(receipt_numbers) + 1)):
            print(f'({pid}, {session}):', receipt_numbers)

(137, 1): [1, 11, 2]
(119, 6): [2, 3, 4, 5]
(130, 2): [1, 5, 2, 3, 4]

In [9]:
# typos corrected by inspections
typo_date = datetime.date(2020, 8, 3)
df.loc[(df.ID == 137) & (df.Receipt == 11), 'Receipt'] = 1
df.loc[(df.ID == 130) & (df.Session == 2) & (df.Date == typo_date), 'Receipt'] = 1

# note: (119, 6, 1) is an empty receipt on box

In [10]:
# Date column records purchase date on receipt if available
df.Date = pd.to_datetime(df.Date, errors='coerce').dt.date.astype('datetime64')

# approximate date range (5/1/2020 - 12/31/2020)
df[~df.Date.between(datetime.datetime(2020, 5, 1), datetime.datetime(2020, 12, 31))].dropna(subset=['Date'])

,ID,Session,Receipt,Date,Item,Item2,Uncertain,Unknown,Quantity,Hit,Miss,Category,Comment
3472,130,5,3,2002-09-21,carrots,NaN,NaN,NaN,NaN,NaN,NaN,vegetable,NaN

In [11]:
# correcting typo by inspection
df.loc[df.Date == datetime.datetime(2002, 9, 21), 'Date'] = datetime.datetime(2020, 9, 21)

# date typos discovered from prior analysis
#df.loc[df.Date == datetime.datetime(2002, 9, 10), 'Date'] = datetime.datetime(2020, 9, 10)
#df.loc[df.Date == datetime.datetime(2020, 4, 6), 'Date'] = datetime.datetime(2020, 6, 4)
#df.loc[df.Date == datetime.datetime(2020, 1, 7), 'Date'] = datetime.datetime(2020, 7, 1)

assert df.Date.dropna().between(datetime.datetime(2020, 5, 1), datetime.datetime(2020, 12, 31)).all()

In [12]:
# Item column contains grocery description as string with "ITEM (MODIFIER)" format
df.Item = df.Item.str.lower().str.strip().astype('string')
df.Item.value_counts(dropna=False).head(20)

strawberries            41
bananas                 38
blueberries             31
eggs                    24
cucumbers               22
raspberries             21
milk                    20
ice cream               18
peaches                 16
orange bell peppers     15
heavy whipping cream    14
cereal                  13
spring water            13
potatoes                13
oranges                 13
strawberry              12
sparkling water         11
bread                   11
tuna                    10
NaN                     10
Name: Item, dtype: Int64

In [13]:
# Item description is essential data. Unidentifiable items are dropped
NULL_ITEM_DESC = r'unknown|n/a|missing'
null_item_count = df.Item.str.contains(NULL_ITEM_DESC).sum() + df.Item.isna().sum()
display(df[df.Item.str.contains(NULL_ITEM_DESC)])
df = df[df.Item.notna()]
df = df[~df.Item.str.contains(NULL_ITEM_DESC)]
print(f'{null_item_count} ({null_item_count / df.shape[0]:.0%}) additional rows dropped due to null item')

,ID,Session,Receipt,Date,Item,Item2,Uncertain,Unknown,Quantity,Hit,Miss,Category,Comment
2842,119,3,2,2020-07-17,unknown,NaN,NaN,x,NaN,NaN,NaN,NaN,walmart

11 (1%) additional rows dropped due to null item

In [14]:
# Item2 provides additional description of the grocery, but is too sparse to be useful
df = df.drop(columns='Item2')

In [15]:
# Uncertain denotes low confidence in transcription
display(df[df.Uncertain.notna()])

,ID,Session,Receipt,Date,Item,Uncertain,Unknown,Quantity,Hit,Miss,Category,Comment
1079,135,1,2,NaT,razor,x,NaN,NaN,NaN,NaN,NaN,NaN
1144,135,2,6,NaT,wrthr og hrd,x,NaN,NaN,NaN,NaN,NaN,NaN
1168,135,2,8,2020-08-14,tetro,x,NaN,NaN,NaN,NaN,NaN,NaN
2795,119,2,1,NaT,catfish nugget,x,NaN,NaN,NaN,NaN,fastfood,NaN
3240,130,1,5,2020-07-25,frosting,x,NaN,NaN,NaN,NaN,dessert,NaN
3244,130,1,5,2020-07-28,odor relief,x,NaN,NaN,NaN,NaN,NaN,NaN
3647,127,5,3,2020-08-13,half moon,x,NaN,NaN,NaN,NaN,NaN,Grocery store unknwon

In [16]:
# transcription quality seems low so we'll drop
uncertain_count = df.Uncertain.notna().sum()
df = df[df.Uncertain.isna()]
df = df.drop(columns='Uncertain')
print(f'{uncertain_count} rows dropped due to uncertainty')

7 rows dropped due to uncertainty

In [17]:
# Unknown denotes very low confidence in transcription
display(df[df.Unknown.notna()])

,ID,Session,Receipt,Date,Item,Unknown,Quantity,Hit,Miss,Category,Comment
858,159,3,3,NaT,conventional,x,2.0,NaN,NaN,NaN,NaN
859,159,3,3,NaT,masculine bi,x,2.0,NaN,NaN,NaN,NaN
1105,135,1,4,NaT,cg tg tl,x,NaN,NaN,NaN,NaN,NaN
1106,135,1,4,NaT,sct 1000,x,NaN,NaN,NaN,NaN,NaN
1107,135,1,4,NaT,tr cn smth28,x,NaN,NaN,NaN,NaN,NaN
1382,137,4,2,2020-09-14,the original em,x,2.0,NaN,NaN,NaN,NaN
2474,128,1,5,NaT,organic preserves,x,NaN,NaN,NaN,NaN,NaN
2488,128,1,7,NaT,morsh,x,2.0,NaN,NaN,NaN,I am not sure about this item
2489,128,1,7,NaT,cfl,x,2.0,NaN,NaN,NaN,NaN
2490,128,1,7,NaT,amer,x,NaN,NaN,NaN,NaN,NaN
2504,128,1,8,NaT,organic preserves,x,NaN,NaN,NaN,NaN,NaN
2510,128,2,2,NaT,bp hd bf bs,x,NaN,NaN,NaN,NaN,NaN
2511,128,2,2,NaT,hfut vp ortk,x,NaN,NaN,NaN,NaN,NaN
2514,128,2,2,NaT,vancarm,x,NaN,NaN,NaN,NaN,NaN
2521,128,2,2,NaT,100 ct cb,x,2.0,NaN,NaN,NaN,NaN
2542,128,2,5,NaT,gb,x,NaN,NaN,NaN,NaN,NaN
2548,128,2,5,NaT,great value,x,NaN,NaN,NaN,NaN,NaN
2552,128,2,6,NaT,morsh,x,2.0,NaN,NaN,NaN,NaN
2568,128,3,1,NaT,kaj 30 pk,x,NaN,NaN,NaN,NaN,NaN
2569,128,3,1,NaT,8/100 fil c,x,NaN,NaN,NaN,NaN,NaN
2571,128,3,1,NaT,gv colomb,x,NaN,NaN,NaN,NaN,NaN
2602,128,4,2,NaT,organic preserves,x,NaN,NaN,NaN,NaN,NaN
2632,128,4,4,2020-08-05,healthy life,x,NaN,NaN,NaN,NaN,NaN
2636,128,4,4,2020-08-05,mm chk brstf,x,NaN,NaN,NaN,NaN,NaN
2638,128,4,4,2020-08-05,qne brgr 3lf,x,NaN,NaN,NaN,NaN,NaN
2642,128,4,4,2020-08-05,mm aa 48,x,2.0,NaN,NaN,NaN,NaN
2643,128,4,4,2020-08-05,mm towels,x,NaN,NaN,NaN,NaN,NaN
2661,128,5,2,2020-08-19,inesf,x,NaN,NaN,NaN,NaN,NaN
2843,119,3,2,2020-07-17,cherry tomatoes,x,4.0,NaN,NaN,vegetables,NaN
2846,119,3,2,2020-07-17,salad bowl,x,2.0,NaN,NaN,salad,NaN
2849,119,3,2,2020-07-17,eye drops,x,NaN,NaN,NaN,medication,NaN
3017,119,6,3,NaT,turkey slices,x,5.0,NaN,NaN,meat,NaN
3031,119,6,5,NaT,onion rings,x,NaN,NaN,NaN,fastfood,NaN

In [18]:
# item descriptions are too vague to be useful
unknown_count = df.Unknown.notna().sum()
print(f'{unknown_count} ({unknown_count / df.shape[0]:.0%}) additional rows dropped due to null item')
df = df[df.Unknown.isna()]
df = df.drop(columns='Unknown')

33 (2%) additional rows dropped due to null item

In [19]:
# Quantity represents multiple purchases of the same item
df.Quantity.value_counts(dropna=False)

NaN     1657
2.0      345
3.0       53
4.0       31
5.0        9
6.0        7
10.0       3
14.0       1
8.0        1
1.0        1
Name: Quantity, dtype: int64

In [20]:
# 8, 10, and 14 are large quantities and could be typos
display(df[df.Quantity.isin([8, 10, 14])])

,ID,Session,Receipt,Date,Item,Quantity,Hit,Miss,Category,Comment
105,154,3,3,2020-09-15,spicy hot veggie juice,14.0,NaN,NaN,drink,NaN
112,154,3,4,2020-09-15,tuna,10.0,NaN,NaN,meat (new category needed0,NaN
2507,128,2,2,NaT,atkins cereal bar,8.0,NaN,NaN,snack,NaN
3001,119,6,2,NaT,kool aid,10.0,NaN,NaN,drink,NaN
3002,119,6,2,NaT,kool aid,10.0,NaN,NaN,drink,NaN

In [21]:
# duplicate rows according to quantity purchased
print(f'{df.Quantity.fillna(1).sum() - df.shape[0]} rows added from expanding Quantity data')
df = df.loc[df.index.repeat(df.Quantity.fillna(1))]
df = df.drop(columns='Quantity')

662.0 rows added from expanding Quantity data

In [22]:
# Hit and Miss columns contain little or no data
df = df.drop(columns=['Hit', 'Miss'])

In [23]:
# Category columns groups groceries by type
df.Category = df.Category.astype('string')
df.Category.value_counts(dropna=False).head()

fruit         369
vegetables    287
drink         258
vegetable     171
snack         163
Name: Category, dtype: Int64

In [24]:
# Comment column contains miscellaneous notes from transcriber
df.Comment.value_counts(dropna=False)

NaN                                                2694
new category needed                                   8
new category needed                                   8
walmart receipt and prices are unknown. Unsure        6
New category needed                                   3
unsure about category                                 3
walmart receipt. Unknwon receipt                      3
does not specify                                      3
could not find item                                   2
Could not find products                               2
dont know grocery store,couldnt find item             2
grocery store website is "unavailable"                2
type not specified                                    2
unsure about item. Kroger site unavailable            2
unspecified type                                      2
walmart receipt. Unknown receipt                      2
category unknown                                      2
unspecified type of cheese                            2
item not found                                        1
multiple polar products are the same price            1
new category needed: petfood                          1
new category needed. Suggestion: eyecare              1
New category needed.Suggestion:utensil                1
New category needed suggestion:home products          1
new category needed.                                  1
unsure about condiment type (receipt unclear)         1
Receipt unclear                                       1
 could not find products                              1
dont know grocery store, couldnt find item            1
unidentified                                          1
this receipt is the same as 6-1                       1
food stamps have been used on multiple receipts       1
continuation of previous receipt                      1
doesnt specify the condiment type                     1
prices are similar.Dont know what type                1
dont know what this item is                           1
does not specify type                                 1
unsure about item                                     1
walmart receipt                                       1
suggestion:home products                              1
Name: Comment, dtype: int64

In [28]:
# numbers are small
df.Comment = df.Comment.astype('string')

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2770 entries, 0 to 2769
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   ID        2770 non-null   uint8
 1   Session   2770 non-null   uint8
 2   Receipt   2770 non-null   uint8
 3   Date      1536 non-null   datetime64[ns]
 4   Item      2770 non-null   string
 5   Category  2741 non-null   string
 6   Comment   76 non-null     string
dtypes: datetime64[ns](1), string(3), uint8(3)
memory usage: 94.8 KB

In [26]:
total_drop = null_receipt_count + null_item_count + uncertain_count + unknown_count
print(f'Total row reduction: {total_drop} ({total_drop / initial_row_count:.0%})')

Total row reduction: 2216 (51%)

In [27]:
df = df.reset_index(drop=True)
df.to_csv(f'{DATA_PATH}clean_{SHEET.lower()}.csv')