In [1]:
import re
import datetime

import pandas as pd
import gensim.downloader as api

import merge

In [2]:
from importlib import reload

In [3]:
pd.set_option('display.max_rows', 200)

In [4]:
%time word_vectors = api.load("glove-wiki-gigaword-300") # 50, 100, 200, 300 sizes available

Wall time: 1min 46s

In [5]:
DATA_PATH = '../Data/'
FILES = ['clean_max', 'clean_maria', 'clean_samantha']
COLS = [0, 1, 2, 3, 5]  # Index, ID, Session, Receipt, Item
DTYPES = {'ID': 'uint8', 'Session': 'uint8', 'Receipt': 'uint8', 'Item': str}

dfs = [pd.read_csv(DATA_PATH + file + '.csv', index_col=0, usecols=COLS, dtype=DTYPES) for file in FILES]

Restrict data set to shared participants

In [6]:
ids_shared = set.intersection(*[set(df.ID.unique()) for df in dfs])
dfs = [df[df.ID.isin(ids_shared)].reset_index(drop=True) for df in dfs]

Item descriptions are optionally formated as "item (modifier)", where modifier usually denotes an adjective like flavor, such as "ice cream (chocolate)". The reformat_modifier function removes this formatting by moving 'modifier' to beginning of text and droping the parentheses. The Item strings are additionally cleaned by removing punctuation and stripping white space.

In [7]:
paren = re.compile(r'\(.+\)')

def reformat_modifier(text):
    m = paren.search(text)
    if m:
        text = ' '.join([m.group(0)[1:-1], text])
        text = paren.sub('', text)
    return text

In [8]:
for df in dfs:
    df.Item = (df.Item
               .apply(reformat_modifier)
               .str.replace(r'[/(),"&]', ' ', regex=True)
               .str.replace(r'?', '', regex=False)
               .str.replace(r"'s", '', regex=False)
               .str.replace(r"coupon", '', regex=False)
               .str.strip())

The merging algorithm employs an O(n!) brute force search, where n is the number of unmatched item descriptions. To be computationally feasible n must be below 8. Sessions are examined for large variations between data sets.

In [9]:
pd.concat([df.groupby(by=['ID', 'Session']).Item.count() for df in dfs], axis=1, ignore_index=True)

                0   1     2
ID  Session
114 1        30.0  30  30.0
    2        32.0  32  32.0
    3        26.0  24  26.0
    4         4.0  19   4.0
    5        18.0  22  18.0
    6        32.0  33  32.0
127 1        54.0  58  55.0
    2        36.0  35  35.0
    5        69.0  62  69.0
    6        48.0  46  48.0
130 1         NaN  75   NaN
    2        70.0  69  70.0
    3        76.0  75  76.0
    4        72.0  71  72.0
    5        62.0  63  62.0
135 1        51.0  48  51.0
    2        77.0  74  79.0
    6        35.0  51  33.0
137 1        33.0  30  34.0
    4        19.0  23  19.0
153 1        43.0  40  43.0
    2        34.0  61  77.0
    5        47.0  34  47.0
    6         NaN  33  29.0

The following tuples are dropped by inspection.

In [10]:
for df in dfs:
    df.drop(df[(df.ID == 114) & (df.Session == 4)].index, inplace=True)
    df.drop(df[(df.ID == 130) & (df.Session == 1)].index, inplace=True)
    df.drop(df[(df.ID == 135) & (df.Session == 6)].index, inplace=True)
    df.drop(df[(df.ID == 153) & (df.Session == 2)].index, inplace=True)
    df.drop(df[(df.ID == 153) & (df.Session == 6)].index, inplace=True)

The merge algorithm operates on receipts and requires each data set to recognize the same number of receipts per session per ID. The number of receipts are examined for variations between the data sets.

In [11]:
pd.concat([df.groupby(by=['ID', 'Session']).Receipt.unique() for df in dfs], axis=1, ignore_index=True)

                                    0                            1  \
ID  Session
114 1                       [1, 2, 3]                    [1, 2, 3]
    2                          [1, 2]                       [1, 2]
    3                          [1, 2]                       [1, 2]
    5                             [1]                       [1, 2]
    6                       [1, 2, 3]                    [1, 2, 3]
127 1                       [1, 2, 3]                    [1, 2, 3]
    2                       [1, 2, 3]                       [1, 2]
    5                    [1, 2, 3, 4]                    [1, 2, 3]
    6                          [1, 2]                       [1, 2]
130 2                 [1, 2, 3, 4, 5]              [1, 5, 2, 3, 4]
    3           [1, 2, 3, 4, 5, 6, 7]        [1, 2, 3, 4, 5, 6, 7]
    4                    [1, 2, 3, 4]                 [1, 2, 3, 4]
    5                    [1, 2, 3, 4]                 [1, 2, 3, 4]
135 1                    [1, 2, 3, 4]                 [1, 2, 3, 4]
    2        [1, 2, 3, 4, 5, 6, 7, 8]  [1, 2, 3, 4, 5, 6, 7, 8, 9]
137 1                          [1, 2]                       [1, 2]
    4                          [1, 2]                       [1, 2]
153 1                          [1, 2]                       [1, 2]
    5                          [1, 2]                       [1, 2]

                                    2
ID  Session
114 1                       [1, 2, 3]
    2                          [1, 2]
    3                          [1, 2]
    5                             [1]
    6                       [1, 2, 3]
127 1                       [1, 2, 3]
    2                       [1, 2, 3]
    5                    [1, 2, 3, 4]
    6                          [1, 2]
130 2                 [1, 2, 3, 4, 5]
    3           [1, 2, 3, 4, 5, 6, 7]
    4                    [1, 2, 3, 4]
    5                    [1, 2, 3, 4]
135 1                    [1, 2, 3, 4]
    2        [1, 2, 3, 4, 5, 6, 7, 8]
137 1                          [1, 2]
    4                          [1, 2]
153 1                          [1, 2]
    5                          [1, 2]

Discrepancies are corrected by inspection. In some cases a receipt stub remained as an artifact of previous data cleaning. In other cases two receipts needed to be merged due to the same.

In [12]:
# ID: 114, Session: 5, Receipts: [1]	[1, 2]	[1]
pd.concat([df.loc[(df.ID == 114) & (df.Session == 5), ['Receipt', 'Item']].reset_index(drop=True) for df in dfs],
          axis=1, ignore_index=True)

,0,1,2,3,4,5
0,1.0,lime sparkling water,1,unsweetned lime sparkling water,1.0,lime sparkling water
1,1.0,arnold palmer drink mix,1,lemonade iced tea drink,1.0,lemonade iced tea mix
2,1.0,arnold palmer drink mix,1,lemonade iced tea drink,1.0,lemonade iced tea mix
3,1.0,tea bags,1,black tea bags,1.0,tea bags
4,1.0,fat free milk,1,free fat milk,1.0,fat free milk
5,1.0,coca cola soda,1,diet cola,1.0,cola diet soda
6,1.0,queso,1,dips queso,1.0,queso dip
7,1.0,baked beans,1,baked beans,1.0,baked beans
8,1.0,cheddar cheese,1,cheddar cheese,1.0,cheddar cheese
9,1.0,cheese puffs,1,s cheese puffs,1.0,cheese puffs
10,1.0,breaded breast chicken,1,breaded chicken breast strips,1.0,breaded chicken breast
11,1.0,tortilla chips,1,tortilla chips,1.0,tortilla chips
12,1.0,newspaper,1,newspaper,1.0,newspaper
13,1.0,garden salad,1,garden salad,1.0,garden salad
14,1.0,bananas,1,bananas,1.0,bananas
15,1.0,santa fe salad,1,santa fe style salad,1.0,santa fe style salad
16,1.0,walnut bread,1,walnut multigrain bread,1.0,walnut multigrain bread
17,1.0,eggs,1,eggs,1.0,eggs
18,NaN,NaN,2,harvest cheddar sunchips,NaN,NaN
19,NaN,NaN,2,pistachio ice cream,NaN,NaN
20,NaN,NaN,2,apple bleu pecan salad,NaN,NaN
21,NaN,NaN,2,santa fe salad bowl,NaN,NaN

In [13]:
dfs[1].drop(dfs[1][(dfs[1].ID == 114) & (dfs[1].Session == 5) & (dfs[1].Receipt == 2)].index, inplace=True)

In [14]:
# ID: 127, Session: 2, Receipts: [1, 2, 3]	[1, 2]	[1, 2, 3]
pd.concat([df.loc[(df.ID == 127) & (df.Session == 2), ['Receipt', 'Item']].reset_index(drop=True) for df in dfs],
          axis=1, ignore_index=True)

,0,1,2,3,4,5
0,1,potato salad,1.0,coke diet,1.0,potato salad
1,1,coca cola soda,1.0,coke diet,1.0,cola diet soda
2,1,coca cola soda,1.0,ginger ale,1.0,cola diet soda
3,1,ginger ale soda,1.0,frozen greek yogurt bars,1.0,diet ginger ale
4,1,peanut butter yogurt bars,1.0,frozen greek yogurt bars,1.0,peanut butter green yogurt frozen bars
5,1,peanut butter chocolate yogurt bars,1.0,frozen greek yogurt bars,1.0,peanut butter chocolate green yogurt frozen bars
6,1,brownie yogurt bars,1.0,frozen greek yogurt bars,1.0,brownie greek yogurt frozen bars
7,1,yogurt bars,1.0,pops,1.0,greek yogurt frozen bars
8,1,popsicles,1.0,riced cauliflower,1.0,popsicles
9,1,cauliflower + broccoli rice,1.0,lemon riced,1.0,riced cauliflower broccoli
10,1,lemon garlic cauliflower rice,1.0,2% milk,1.0,lemon garlic riced cauliflower
11,1,2% milk,1.0,soda polar drink,1.0,2% milk
12,1,polar soda,1.0,sprite,1.0,soda
13,1,sprite soda,1.0,spring water,1.0,sprite zero soda
14,1,water,2.0,chicken strips,1.0,water
15,2,chicken strips,2.0,stuffed grape leaves,2.0,chicken strips
16,2,stuffed grape leaves,2.0,strawberry,2.0,stuffed grape leaves
17,2,paper towels,2.0,meat,2.0,paper towels
18,2,strawberry sparkling water,2.0,blue diamond almonds,2.0,strawberry sparkling water
19,2,water,2.0,spring water,2.0,water
20,2,rice crackers,2.0,rice cracker,2.0,rice crackers
21,2,kosher pickles,2.0,pickles,2.0,kosher pickles
22,2,soap,2.0,hand soap,2.0,hand soap
23,2,pecan caramel cookies,2.0,caramel and pecan cookies,2.0,pecan caramel cookies
24,2,hand sanitizer,2.0,hand sanitizer,2.0,hand sanitizer
25,2,hand sanitizer,2.0,hand sanitizer,2.0,hand sanitizer
26,3,coca cola soda,2.0,pepsi diet,3.0,cola diet soda
27,3,coca cola soda,2.0,pepsi diet,3.0,cola diet soda
28,3,coca cola soda,2.0,pepsi diet,3.0,cola diet soda
29,3,coca cola soda,2.0,pepsi diet,3.0,cola diet soda
30,3,12 pack softdrink,2.0,breadstick,3.0,breadsticks
31,3,breadsticks,2.0,diet mango snapple,3.0,mango snapple
32,3,mango snapple,2.0,pet bone,3.0,dog treats
33,3,dog bone,2.0,berries cup,3.0,berries cup
34,3,berry cups,2.0,berries cup,3.0,berries cup
35,3,berry cups,NaN,NaN,NaN,NaN

In [15]:
dfs[1].loc[(dfs[1].ID == 127) & (dfs[1].Session == 2), ['Receipt', 'Item']]

     Receipt                       Item
805        1                  coke diet
806        1                  coke diet
807        1                 ginger ale
808        1   frozen greek yogurt bars
809        1   frozen greek yogurt bars
810        1   frozen greek yogurt bars
811        1   frozen greek yogurt bars
812        1                       pops
813        1          riced cauliflower
814        1                lemon riced
815        1                    2% milk
816        1           soda polar drink
817        1                     sprite
818        1               spring water
819        2             chicken strips
820        2       stuffed grape leaves
821        2                 strawberry
822        2                       meat
823        2       blue diamond almonds
824        2               spring water
825        2               rice cracker
826        2                    pickles
827        2                  hand soap
828        2  caramel and pecan cookies
829        2             hand sanitizer
830        2             hand sanitizer
831        2                 pepsi diet
832        2                 pepsi diet
833        2                 pepsi diet
834        2                 pepsi diet
835        2                 breadstick
836        2         diet mango snapple
837        2                   pet bone
838        2                berries cup
839        2                berries cup

In [16]:
dfs[1].loc[831:839, 'Receipt'] = 3

In [17]:
# ID: 127, Session: 5, Receipts: [1, 2, 3, 4]	[1, 2, 3]	[1, 2, 3, 4]
pd.concat([df.loc[(df.ID == 127) & (df.Session == 5), ['Receipt', 'Item']].reset_index(drop=True) for df in dfs],
          axis=1, ignore_index=True)

,0,1,2,3,4,5
0,1,ground beef,1.0,ground beef,1,ground beef
1,1,sausage,1.0,red hot dog,1,sausage
2,1,egg potato salad,1.0,egg and potato salad,1,egg potato salad
3,1,popcorn,1.0,popcorn,1,popcorn
4,1,mangos,1.0,mango,1,mangos
5,1,bananas,1.0,bananas,1,bananas
6,1,taboule salad,1.0,fresh tabboule,1,taboule salad
7,1,black bean salad,1.0,bean salad,1,black bean salad
8,1,stuffed grape leaves,1.0,grapes leaves,1,stuffed grape leaves
9,1,string cheese,1.0,goat cheese,1,string cheese
10,1,goat cheese,1.0,goat cheese,1,goat cheese
11,1,goat cheese,1.0,pie,1,goat cheese
12,1,whoopie pie,1.0,milk chocolate chocolate,1,whoopie pie
13,1,milk chocolate,1.0,milk chocolate chocolate,1,milk chocolate
14,1,milk chocolate,1.0,white tuna,1,milk chocolate
15,1,drying rack,1.0,spring water,1,dish drying rack
16,1,water,1.0,spring water,1,bottled water
17,1,water,1.0,noodle,1,bottled water
18,1,chicken noodle soup,1.0,noodle,1,canned chicken noodle soup
19,1,chicken noodle soup,1.0,noodle,1,canned chicken noodle soup
20,1,chicken noodle soup,2.0,graham crackers crackers,1,canned chicken noodle soup
21,2,graham crackers,2.0,stainlifter,2,graham crackers
22,2,stain remover,2.0,toothpick,2,stain remover
23,2,toothpicks,2.0,baking soda,2,toothpicks
24,2,baking soda,2.0,lime soda,2,baking soda
25,2,baking soda,2.0,marshmallows,2,baking soda
26,2,lime sparkling water,2.0,marshmallows,2,lime sparkling water
27,2,marshmallows,3.0,butter,2,marshmallows
28,2,marshmallows,3.0,mint candy,2,marshmallows
29,3,butter pecan ice cream,3.0,red sox merch,3,butter pecan ice cream
30,3,mint ice cream,3.0,tangelo,3,mint ice cream
31,3,red sox merchandise,3.0,little leaf lettuce,3,red sox merchendise
32,3,tangelo,3.0,spring water,3,tangelo
33,3,lettuce,3.0,swimmers,3,lettuce
34,3,water,3.0,little string cheese,3,bottled water
35,3,gummies,3.0,almond chocolate,3,gummy candy
36,3,string cheese,3.0,graham crackers crackers,3,string cheese
37,3,dark chocolate almonds,3.0,dried mango,3,dark chocolate almonds
38,3,graham crackers,3.0,mango slices,3,graham crackers
39,3,mango,3.0,milk chocolate,3,mango
40,3,dried mango,3.0,greek yogurt snack,3,dried mango
41,3,milk chocolate,3.0,greek yogurt snack,3,milk chocolate
42,4,peanut butter yogurt bars,3.0,coffee,4,peanut butter greek yogurt frozen bars
43,4,caramel ice cream,3.0,chocolate,4,caramel ice cream
44,4,chocolate ice cream,3.0,beet round crackers,4,chocolate ice cream
45,4,butter pecan yogurt bars,3.0,pesto chicken,4,butter pecan greek yogurt frozen bars
46,4,beet crackers,3.0,ginger snaps,4,beet crackers
47,4,pesto chicken wrap,3.0,mozzarella cheese snack,4,pesto chicken wrap
48,4,ginger snaps,3.0,fig butter,4,ginger snaps
49,4,prosciutto cheese snack,3.0,dried mangos,4,meat and cheese snack
50,4,fig butter,3.0,bananas,4,fig butter
51,4,mango,3.0,spring water,4,mango
52,4,banana,3.0,spring water,4,banana
53,4,banana,3.0,muffin,4,banana
54,4,banana,3.0,hummus,4,banana
55,4,banana,3.0,black bean hummus,4,banana
56,4,banana,3.0,beef,4,banana
57,4,water,3.0,angus,4,bottled water
58,4,water,3.0,ham,4,bottled water
59,4,muffins,3.0,ham,4,mini muffins
60,4,hummus,3.0,swiss cheese,4,dessert hummus
61,4,black bean hummus,3.0,bananas,4,black bean hummus
62,4,ground beef,NaN,NaN,4,ground beef
63,4,angus roast,NaN,NaN,4,angus roast beef
64,4,ham,NaN,NaN,4,ham
65,4,swiss cheese,NaN,NaN,4,swiss cheese
66,4,cheese,NaN,NaN,4,cheese
67,4,bananas,NaN,NaN,4,bananas
68,4,ham cheese sandwich,NaN,NaN,4,ham and cheese sub

In [18]:
dfs[1].loc[(dfs[1].ID == 127) & (dfs[1].Session == 5), ['Receipt', 'Item']]

     Receipt                      Item
840        1               ground beef
841        1               red hot dog
842        1      egg and potato salad
843        1                   popcorn
844        1                     mango
845        1                   bananas
846        1            fresh tabboule
847        1                bean salad
848        1             grapes leaves
849        1               goat cheese
850        1               goat cheese
851        1                       pie
852        1  milk chocolate chocolate
853        1  milk chocolate chocolate
854        1                white tuna
855        1              spring water
856        1              spring water
857        1                    noodle
858        1                    noodle
859        1                    noodle
860        2  graham crackers crackers
861        2               stainlifter
862        2                 toothpick
863        2               baking soda
864        2                 lime soda
865        2              marshmallows
866        2              marshmallows
867        3                    butter
868        3                mint candy
869        3             red sox merch
870        3                   tangelo
871        3       little leaf lettuce
872        3              spring water
873        3                  swimmers
874        3      little string cheese
875        3          almond chocolate
876        3  graham crackers crackers
877        3               dried mango
878        3              mango slices
879        3            milk chocolate
880        3        greek yogurt snack
881        3        greek yogurt snack
882        3                    coffee
883        3                 chocolate
884        3       beet round crackers
885        3             pesto chicken
886        3              ginger snaps
887        3   mozzarella cheese snack
888        3                fig butter
889        3              dried mangos
890        3                   bananas
891        3              spring water
892        3              spring water
893        3                    muffin
894        3                    hummus
895        3         black bean hummus
896        3                      beef
897        3                     angus
898        3                       ham
899        3                       ham
900        3              swiss cheese
901        3                   bananas

In [19]:
dfs[1].loc[880:901, 'Receipt'] = 4

In [20]:
# ID: 135, Session: 2, Receipts: [1, 2, 3, 4, 5, 6, 7, 8]	[1, 2, 3, 4, 5, 6, 7, 8, 9]	[1, 2, 3, 4, 5, 6, 7, 8]
pd.concat([df.loc[(df.ID == 135) & (df.Session == 2), ['Receipt', 'Item']].reset_index(drop=True) for df in dfs],
          axis=1, ignore_index=True)

,0,1,2,3,4,5
0,1.0,orange juice,1.0,orange juice,1,orange juice
1,1.0,hummus,1.0,hummus,1,hummus
2,1.0,hummus,1.0,hummus,1,hummus
3,1.0,ricotta cheese,1.0,ricotta cheese,1,ricotta cheese
4,1.0,crackers,1.0,crackers,1,crackers
5,1.0,cheese,1.0,cheese,1,block cheese
6,1.0,veggie mix,1.0,frozen vegetables,1,frozen vegetables
7,1.0,tomatoes,1.0,tomatoes,1,tomatoes
8,1.0,organic greens salad mix,1.0,lettuce spinach 50 50 blend,1,greens blend
9,2.0,red potatoes,2.0,potatoes,2,red potatoes
10,2.0,cheerios cereal,2.0,cereal,2,cheerios
11,2.0,mangos,2.0,mangoes,2,mangoes
12,2.0,potatoes,2.0,onions,2,potatoes
13,2.0,onions,2.0,tomatoes,2,onions
14,2.0,cherub tomatoes,2.0,bananas,2,cherub tomatoes
15,2.0,bananas,2.0,english muffin,2,bananas
16,2.0,roma tomatoes,3.0,sargento cheese,2,roma tomatoes
17,2.0,english muffin,3.0,cream,2,english muffin
18,3.0,cheese,3.0,mashed potatoes,3,cheese
19,3.0,feta cheese,4.0,toothpaste,3,feta cheese
20,3.0,mashed potatoes,4.0,toothpaste,3,mashed potato
21,3.0,toothpaste,4.0,soup,3,toothpaste
22,3.0,toothpaste,4.0,soup,3,toothpaste
23,3.0,soup,4.0,romaine hearts,3,canned soup
24,3.0,soup,4.0,almond milk,3,canned soup
25,3.0,soup,4.0,sausage,3,canned soup
26,3.0,romaine lettuce,4.0,philly cream cheese,3,romaine hearts
27,3.0,almond milk,4.0,orange juice,3,almond milk
28,4.0,sausage,4.0,allergy liquid,4,sausage
29,4.0,cream cheese,4.0,sausage rolls,4,cream cheese
30,4.0,orange juice,4.0,green onion,4,orange juice
31,4.0,for allergies medication,4.0,english muffin,4,allergy medicine
32,4.0,sausage roll pastry,4.0,honey oat bread,4,sausage roll
33,4.0,green onions,5.0,lump crab,4,green onions
34,4.0,english muffin,5.0,lump crab,4,english muffin
35,4.0,oat bread,5.0,lump crab,4,oat bread
36,5.0,crab,5.0,lump crab,5,crab meat
37,5.0,crab,5.0,lump crab,5,crab meat
38,5.0,crab,5.0,rosemary sea salt,5,crab meat
39,5.0,crab,6.0,fabric softener,5,crab meat
40,5.0,crab,6.0,wavy crisps,5,crab meat
41,5.0,rosemary sea salt salt,6.0,wavy crisps,5,rosemary sea salt
42,6.0,laundry detergent,6.0,quino brown bread,6,laundry detergent softener
43,6.0,potato chips,6.0,basmiti rice,6,potato chips
44,6.0,potato chips,6.0,white grain bread,6,potato chips
45,6.0,caramel,6.0,tomato soup,6,caramels
46,6.0,basmiti rice,6.0,tomato soup,6,basmati rice
47,6.0,quinoa,6.0,tomato soup,6,quiona
48,6.0,whole grain rice,6.0,tomato soup,6,whole grain rice
49,6.0,tomato soup,6.0,sweetner,6,tomato soup
50,6.0,tomato soup,6.0,gatorade,6,tomato soup
51,6.0,tomato soup,6.0,gatorade,6,tomato soup
52,6.0,tomato soup,6.0,half and half,6,tomato soup
53,6.0,sweetener,6.0,toothpaste,6,stevia sweetener
54,6.0,gatorade,6.0,toothpaste,6,gatorade
55,6.0,gatorade,6.0,lysol,6,gatorade
56,6.0,half and half,6.0,lysol,6,half and half
57,6.0,sanitizing spray,6.0,body wash,6,advil
58,6.0,sanitizing spray,6.0,face tissue,6,advil
59,6.0,body wash,7.0,pears,6,disinfectant spray
60,6.0,tissues,7.0,cranberry juice,6,disinfectant spray
61,7.0,pears,7.0,broth,6,body wash
62,7.0,pears,7.0,bacon pieces,6,tissues
63,7.0,pears,7.0,cucumber,7,pears
64,7.0,cranberry sauce,7.0,guacamole,7,pears
65,7.0,broth,7.0,english muffin,7,pears
66,7.0,bacon bits,8.0,birthday card,7,cranberry sauce
67,7.0,cucumbers,8.0,birthday card,7,broth
68,7.0,guacamole,8.0,birthday card,7,bacon pieces
69,7.0,english muffins,8.0,hand soap,7,cucumbers
70,8.0,birthday cards,8.0,coconut milk,7,guacamole
71,8.0,birthday cards,8.0,paper towels,7,english muffins
72,8.0,birthday cards,8.0,mushrooms,8,card
73,8.0,soap,9.0,receipt unclear,8,card
74,8.0,coconut milk,NaN,NaN,8,card
75,8.0,paper towels,NaN,NaN,8,hand soap
76,8.0,mushrooms,NaN,NaN,8,coconut milk
77,NaN,NaN,NaN,NaN,8,paper towels
78,NaN,NaN,NaN,NaN,8,mushrooms

In [21]:
dfs[1].drop(dfs[1][(dfs[1].ID == 135) & (dfs[1].Session == 2) & (dfs[1].Receipt == 9)].index, inplace=True)

Data sets are passed partially through the merge algorithm to test their computability. Note a divergence higher than 7 is considered infeasible. One receipt is identified and typos are fixed by inspection.

In [22]:
reload(merge)

In [23]:
merge.divergence([dfs[0], dfs[1]], word_vectors)

ID: 114, Session: 1, Receipt: 1, Div: 0! []
ID: 114, Session: 1, Receipt: 2, Div: 1! [4]
ID: 114, Session: 1, Receipt: 3, Div: 0! []
ID: 114, Session: 2, Receipt: 1, Div: 0! []
ID: 114, Session: 2, Receipt: 2, Div: 1! [7]
ID: 114, Session: 3, Receipt: 1, Div: 3! [7, 13, 14]
ID: 114, Session: 3, Receipt: 2, Div: 0! []
ID: 114, Session: 5, Receipt: 1, Div: 0! []
ID: 114, Session: 6, Receipt: 1, Div: 1! [3]
ID: 114, Session: 6, Receipt: 2, Div: 1! [2]
ID: 114, Session: 6, Receipt: 3, Div: 0! []

ID: 137, Session: 1, Receipt: 1, Div: 6! [1, 4, 10, 20, 23, 24]
ID: 137, Session: 1, Receipt: 2, Div: 5! [5, 6, 7, 8, 9]
ID: 137, Session: 4, Receipt: 1, Div: 6! [9, 10, 14, 15, 16, 17]
ID: 137, Session: 4, Receipt: 2, Div: 0! []

ID: 153, Session: 1, Receipt: 1, Div: 1! [27]
ID: 153, Session: 1, Receipt: 2, Div: 4! [12, 13, 14, 15]
ID: 153, Session: 5, Receipt: 1, Div: 7! [26, 27, 28, 29, 30, 31, 32]
ID: 153, Session: 5, Receipt: 2, Div: 6! [8, 9, 10, 11, 12, 13]

ID: 127, Session: 1, Receipt: 1, Div: 2! [0, 21]
ID: 127, Session: 1, Receipt: 2, Div: 4! [15, 16, 22, 23]
ID: 127, Session: 1, Receipt: 3, Div: 2! [10, 11]
ID: 127, Session: 2, Receipt: 1, Div: 3! [0, 1, 14]
ID: 127, Session: 2, Receipt: 2, Div: 2! [2, 11]
ID: 127, Session: 2, Receipt: 3, Div: 5! [0, 1, 2, 3, 9]
ID: 127, Session: 5, Receipt: 1, Div: 4! [1, 6, 14, 20]
ID: 127, Session: 5, Receipt: 2, Div: 1! [7]
ID: 127, Session: 5, Receipt: 3, Div: 1! [6]
ID: 127, Session: 5, Receipt: 4, Div: 6! [2, 22, 23, 24, 25, 26]
ID: 127, Session: 6, Receipt: 1, Div: 2! [12, 18]
ID: 127, Session: 6, Receipt: 2, Div: 2! [11, 28]

ID: 130, Session: 2, Receipt: 1, Div: 5! [1, 6, 24, 25, 26]
ID: 130, Session: 2, Receipt: 2, Div: 0! []
ID: 130, Session: 2, Receipt: 3, Div: 2! [3, 23]
ID: 130, Session: 2, Receipt: 4, Div: 0! []
ID: 130, Session: 2, Receipt: 5, Div: 2! [6, 7]
ID: 130, Session: 3, Receipt: 1, Div: 0! []
ID: 130, Session: 3, Receipt: 2, Div: 3! [3, 18, 20]
ID: 130, Session: 3, Receipt: 3, Div: 3! [0, 1, 10]
ID: 130, Session: 3, Receipt: 4, Div: 0! []
ID: 130, Session: 3, Receipt: 5, Div: 3! [14, 16, 17]
ID: 130, Session: 3, Receipt: 6, Div: 0! []
ID: 130, Session: 3, Receipt: 7, Div: 0! []
ID: 130, Session: 4, Receipt: 1, Div: 3! [12, 15, 16]
ID: 130, Session: 4, Receipt: 2, Div: 2! [19, 20]
ID: 130, Session: 4, Receipt: 3, Div: 2! [10, 11]
ID: 130, Session: 4, Receipt: 4, Div: 0! []
ID: 130, Session: 5, Receipt: 1, Div: 0! []
ID: 130, Session: 5, Receipt: 2, Div: 4! [13, 15, 16, 17]
ID: 130, Session: 5, Receipt: 3, Div: 2! [2, 22]
ID: 130, Session: 5, Receipt: 4, Div: 1! [13]

ID: 135, Session: 1, Receipt: 1, Div: 1! [11]
ID: 135, Session: 1, Receipt: 2, Div: 4! [0, 3, 5, 10]
ID: 135, Session: 1, Receipt: 3, Div: 3! [4, 11, 13]
ID: 135, Session: 1, Receipt: 4, Div: 3! [2, 6, 7]
ID: 135, Session: 2, Receipt: 1, Div: 2! [6, 8]
ID: 135, Session: 2, Receipt: 2, Div: 3! [2, 7, 8]
ID: 135, Session: 2, Receipt: 3, Div: 8! [1, 3, 4, 5, 6, 7, 8, 9]
ID: 135, Session: 2, Receipt: 4, Div: 7! [3, 8, 9, 10, 11, 12, 13]
ID: 135, Session: 2, Receipt: 5, Div: 0! []
ID: 135, Session: 2, Receipt: 6, Div: 8! [0, 1, 2, 3, 11, 15, 16, 19]
ID: 135, Session: 2, Receipt: 7, Div: 2! [7, 8]
ID: 135, Session: 2, Receipt: 8, Div: 0! []

In [24]:
# ID: 135, Session: 2, Receipt: 3, Div: 8! [1, 3, 4, 5, 6, 7, 8, 9]
pd.concat([df.loc[(df.ID == 135) & (df.Session == 2) & (df.Receipt == 3), 'Item'].reset_index(drop=True) for df in dfs],
          axis=1, ignore_index=True)

                 0                1               2
0           cheese  sargento cheese          cheese
1      feta cheese            cream     feta cheese
2  mashed potatoes  mashed potatoes   mashed potato
3       toothpaste              NaN      toothpaste
4       toothpaste              NaN      toothpaste
5             soup              NaN     canned soup
6             soup              NaN     canned soup
7             soup              NaN     canned soup
8  romaine lettuce              NaN  romaine hearts
9      almond milk              NaN     almond milk

In [25]:
for df in dfs:
    df.drop(df[(df.ID == 135) & (df.Session == 2) & (df.Receipt == 3)].index, inplace=True)

In [26]:
# ID: 135, Session: 2, Receipt: 8! [0, 1, 2, 10, 14, 15, 16, 17]
pd.concat([df.loc[(df.ID == 135) & (df.Session == 2) & (df.Receipt == 6), 'Item'].reset_index(drop=True) for df in dfs],
          axis=1, ignore_index=True)

                    0                  1                           2
0   laundry detergent    fabric softener  laundry detergent softener
1        potato chips        wavy crisps                potato chips
2        potato chips        wavy crisps                potato chips
3             caramel  quino brown bread                    caramels
4        basmiti rice       basmiti rice                basmati rice
5              quinoa  white grain bread                      quiona
6    whole grain rice        tomato soup            whole grain rice
7         tomato soup        tomato soup                 tomato soup
8         tomato soup        tomato soup                 tomato soup
9         tomato soup        tomato soup                 tomato soup
10        tomato soup           sweetner                 tomato soup
11          sweetener           gatorade            stevia sweetener
12           gatorade           gatorade                    gatorade
13           gatorade      half and half                    gatorade
14      half and half         toothpaste               half and half
15   sanitizing spray         toothpaste                       advil
16   sanitizing spray              lysol                       advil
17          body wash              lysol          disinfectant spray
18            tissues          body wash          disinfectant spray
19                NaN        face tissue                   body wash
20                NaN                NaN                     tissues

In [27]:
dfs[1].loc[(dfs[1].ID == 135) & (dfs[1].Session == 2) & (dfs[1].Receipt == 6) & (dfs[1].Item == 'quino brown bread'), 'Item'] = 'quinoa brown bread'
dfs[1].loc[(dfs[1].ID == 135) & (dfs[1].Session == 2) & (dfs[1].Receipt == 6) & (dfs[1].Item == 'sweetner'), 'Item'] = 'sweetener'

In [28]:
merge.divergence([dfs[0], dfs[2]], word_vectors)

ID: 114, Session: 1, Receipt: 1, Div: 0! []
ID: 114, Session: 1, Receipt: 2, Div: 0! []
ID: 114, Session: 1, Receipt: 3, Div: 0! []
ID: 114, Session: 2, Receipt: 1, Div: 0! []
ID: 114, Session: 2, Receipt: 2, Div: 0! []
ID: 114, Session: 3, Receipt: 1, Div: 1! [9]
ID: 114, Session: 3, Receipt: 2, Div: 0! []
ID: 114, Session: 5, Receipt: 1, Div: 0! []
ID: 114, Session: 6, Receipt: 1, Div: 1! [2]
ID: 114, Session: 6, Receipt: 2, Div: 0! []
ID: 114, Session: 6, Receipt: 3, Div: 0! []

ID: 137, Session: 1, Receipt: 1, Div: 0! []
ID: 137, Session: 1, Receipt: 2, Div: 1! [10]
ID: 137, Session: 4, Receipt: 1, Div: 0! []
ID: 137, Session: 4, Receipt: 2, Div: 0! []

ID: 153, Session: 1, Receipt: 1, Div: 0! []
ID: 153, Session: 1, Receipt: 2, Div: 0! []
ID: 153, Session: 5, Receipt: 1, Div: 0! []
ID: 153, Session: 5, Receipt: 2, Div: 0! []

ID: 127, Session: 1, Receipt: 1, Div: 1! [21]
ID: 127, Session: 1, Receipt: 2, Div: 0! []
ID: 127, Session: 1, Receipt: 3, Div: 0! []
ID: 127, Session: 2, Receipt: 1, Div: 0! []
ID: 127, Session: 2, Receipt: 2, Div: 0! []
ID: 127, Session: 2, Receipt: 3, Div: 1! [9]
ID: 127, Session: 5, Receipt: 1, Div: 0! []
ID: 127, Session: 5, Receipt: 2, Div: 0! []
ID: 127, Session: 5, Receipt: 3, Div: 1! [6]
ID: 127, Session: 5, Receipt: 4, Div: 0! []
ID: 127, Session: 6, Receipt: 1, Div: 0! []
ID: 127, Session: 6, Receipt: 2, Div: 1! [11]

ID: 130, Session: 2, Receipt: 1, Div: 1! [5]
ID: 130, Session: 2, Receipt: 2, Div: 0! []
ID: 130, Session: 2, Receipt: 3, Div: 0! []
ID: 130, Session: 2, Receipt: 4, Div: 0! []
ID: 130, Session: 2, Receipt: 5, Div: 0! []
ID: 130, Session: 3, Receipt: 1, Div: 0! []
ID: 130, Session: 3, Receipt: 2, Div: 1! [3]
ID: 130, Session: 3, Receipt: 3, Div: 0! []
ID: 130, Session: 3, Receipt: 4, Div: 0! []
ID: 130, Session: 3, Receipt: 5, Div: 0! []
ID: 130, Session: 3, Receipt: 6, Div: 0! []
ID: 130, Session: 3, Receipt: 7, Div: 0! []
ID: 130, Session: 4, Receipt: 1, Div: 0! []
ID: 130, Session: 4, Receipt: 2, Div: 0! []
ID: 130, Session: 4, Receipt: 3, Div: 0! []
ID: 130, Session: 4, Receipt: 4, Div: 0! []
ID: 130, Session: 5, Receipt: 1, Div: 0! []
ID: 130, Session: 5, Receipt: 2, Div: 0! []
ID: 130, Session: 5, Receipt: 3, Div: 1! [2]
ID: 130, Session: 5, Receipt: 4, Div: 0! []

ID: 135, Session: 1, Receipt: 1, Div: 0! []
ID: 135, Session: 1, Receipt: 2, Div: 0! []
ID: 135, Session: 1, Receipt: 3, Div: 0! []
ID: 135, Session: 1, Receipt: 4, Div: 0! []
ID: 135, Session: 2, Receipt: 1, Div: 1! [6]
ID: 135, Session: 2, Receipt: 2, Div: 1! [2]
ID: 135, Session: 2, Receipt: 4, Div: 1! [3]
ID: 135, Session: 2, Receipt: 5, Div: 0! []
ID: 135, Session: 2, Receipt: 6, Div: 3! [5, 19, 20]
ID: 135, Session: 2, Receipt: 7, Div: 0! []
ID: 135, Session: 2, Receipt: 8, Div: 0! []

In [29]:
merge.divergence([dfs[1], dfs[2]], word_vectors)

ID: 153, Session: 1, Receipt: 1, Div: 1! [27]
ID: 153, Session: 1, Receipt: 2, Div: 4! [12, 13, 14, 15]
ID: 153, Session: 5, Receipt: 1, Div: 7! [26, 27, 28, 29, 30, 31, 32]
ID: 153, Session: 5, Receipt: 2, Div: 6! [8, 9, 10, 11, 12, 13]

ID: 135, Session: 1, Receipt: 1, Div: 1! [10]
ID: 135, Session: 1, Receipt: 2, Div: 2! [1, 10]
ID: 135, Session: 1, Receipt: 3, Div: 4! [4, 11, 12, 13]
ID: 135, Session: 1, Receipt: 4, Div: 4! [2, 3, 6, 7]
ID: 135, Session: 2, Receipt: 1, Div: 0! []
ID: 135, Session: 2, Receipt: 2, Div: 3! [1, 7, 8]
ID: 135, Session: 2, Receipt: 4, Div: 6! [8, 9, 10, 11, 12, 13]
ID: 135, Session: 2, Receipt: 5, Div: 0! []
ID: 135, Session: 2, Receipt: 6, Div: 8! [1, 2, 3, 14, 15, 16, 17, 20]
ID: 135, Session: 2, Receipt: 7, Div: 2! [7, 8]
ID: 135, Session: 2, Receipt: 8, Div: 0! []

ID: 137, Session: 1, Receipt: 1, Div: 6! [1, 4, 10, 20, 23, 24]
ID: 137, Session: 1, Receipt: 2, Div: 6! [5, 6, 7, 8, 9, 10]
ID: 137, Session: 4, Receipt: 1, Div: 6! [9, 10, 14, 15, 16, 17]
ID: 137, Session: 4, Receipt: 2, Div: 0! []

ID: 130, Session: 2, Receipt: 1, Div: 6! [1, 5, 6, 24, 25, 26]
ID: 130, Session: 2, Receipt: 5, Div: 2! [6, 7]
ID: 130, Session: 2, Receipt: 2, Div: 0! []
ID: 130, Session: 2, Receipt: 3, Div: 2! [3, 23]
ID: 130, Session: 2, Receipt: 4, Div: 1! [1]
ID: 130, Session: 3, Receipt: 1, Div: 0! []
ID: 130, Session: 3, Receipt: 2, Div: 2! [18, 20]
ID: 130, Session: 3, Receipt: 3, Div: 3! [0, 1, 10]
ID: 130, Session: 3, Receipt: 4, Div: 0! []
ID: 130, Session: 3, Receipt: 5, Div: 3! [14, 16, 17]
ID: 130, Session: 3, Receipt: 6, Div: 1! [10]
ID: 130, Session: 3, Receipt: 7, Div: 0! []
ID: 130, Session: 4, Receipt: 1, Div: 3! [12, 15, 16]
ID: 130, Session: 4, Receipt: 2, Div: 2! [19, 20]
ID: 130, Session: 4, Receipt: 3, Div: 2! [10, 11]
ID: 130, Session: 4, Receipt: 4, Div: 0! []
ID: 130, Session: 5, Receipt: 1, Div: 0! []
ID: 130, Session: 5, Receipt: 2, Div: 4! [13, 15, 16, 17]
ID: 130, Session: 5, Receipt: 3, Div: 1! [22]
ID: 130, Session: 5, Receipt: 4, Div: 1! [13]

ID: 127, Session: 1, Receipt: 1, Div: 2! [0, 9]
ID: 127, Session: 1, Receipt: 2, Div: 4! [15, 16, 22, 23]
ID: 127, Session: 1, Receipt: 3, Div: 2! [10, 11]
ID: 127, Session: 2, Receipt: 1, Div: 1! [14]
ID: 127, Session: 2, Receipt: 2, Div: 2! [2, 11]
ID: 127, Session: 2, Receipt: 3, Div: 1! [6]
ID: 127, Session: 5, Receipt: 1, Div: 4! [1, 6, 14, 20]
ID: 127, Session: 5, Receipt: 2, Div: 1! [7]
ID: 127, Session: 5, Receipt: 3, Div: 1! [6]
ID: 127, Session: 5, Receipt: 4, Div: 6! [2, 22, 23, 24, 25, 26]
ID: 127, Session: 6, Receipt: 1, Div: 3! [4, 12, 18]
ID: 127, Session: 6, Receipt: 2, Div: 3! [11, 21, 28]

ID: 114, Session: 1, Receipt: 1, Div: 0! []
ID: 114, Session: 1, Receipt: 2, Div: 1! [4]
ID: 114, Session: 1, Receipt: 3, Div: 0! []
ID: 114, Session: 2, Receipt: 1, Div: 0! []
ID: 114, Session: 2, Receipt: 2, Div: 1! [6]
ID: 114, Session: 3, Receipt: 1, Div: 2! [13, 14]
ID: 114, Session: 3, Receipt: 2, Div: 0! []
ID: 114, Session: 5, Receipt: 1, Div: 0! []
ID: 114, Session: 6, Receipt: 1, Div: 1! [3]
ID: 114, Session: 6, Receipt: 2, Div: 1! [2]
ID: 114, Session: 6, Receipt: 3, Div: 0! []

In [30]:
# ID: 135, Session: 2, Receipt: 6, Div: 8! [1, 2, 3, 5, 15, 16, 17, 18]
pd.concat([df.loc[(df.ID == 135) & (df.Session == 2) & (df.Receipt == 6), 'Item'].reset_index(drop=True) for df in dfs],
          axis=1, ignore_index=True)

                    0                   1                           2
0   laundry detergent     fabric softener  laundry detergent softener
1        potato chips         wavy crisps                potato chips
2        potato chips         wavy crisps                potato chips
3             caramel  quinoa brown bread                    caramels
4        basmiti rice        basmiti rice                basmati rice
5              quinoa   white grain bread                      quiona
6    whole grain rice         tomato soup            whole grain rice
7         tomato soup         tomato soup                 tomato soup
8         tomato soup         tomato soup                 tomato soup
9         tomato soup         tomato soup                 tomato soup
10        tomato soup           sweetener                 tomato soup
11          sweetener            gatorade            stevia sweetener
12           gatorade            gatorade                    gatorade
13           gatorade       half and half                    gatorade
14      half and half          toothpaste               half and half
15   sanitizing spray          toothpaste                       advil
16   sanitizing spray               lysol                       advil
17          body wash               lysol          disinfectant spray
18            tissues           body wash          disinfectant spray
19                NaN         face tissue                   body wash
20                NaN                 NaN                     tissues

In [31]:
dfs[2].loc[(dfs[2].ID == 135) & (dfs[2].Session == 2) & (dfs[2].Receipt == 6) & (dfs[2].Item == 'quiona'), 'Item'] = 'quinoa'

### Results

In [32]:
for df in dfs:
    df.info()
    print()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 885 entries, 0 to 932
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   ID       885 non-null    uint8
 1   Session  885 non-null    uint8
 2   Receipt  885 non-null    uint8
 3   Item     885 non-null    object
dtypes: object(1), uint8(3)
memory usage: 16.4+ KB

<class 'pandas.core.frame.DataFrame'>
Int64Index: 861 entries, 0 to 1107
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   ID       861 non-null    uint8
 1   Session  861 non-null    uint8
 2   Receipt  861 non-null    uint8
 3   Item     861 non-null    object
dtypes: object(1), uint8(3)
memory usage: 16.0+ KB

<class 'pandas.core.frame.DataFrame'>
Int64Index: 888 entries, 0 to 1007
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   ID       888 non-null    uint8
 1   Session  888 non-null    uint8
 2   Receipt  888 non-null    uint8
 3   Item     888 non-null    object
dtypes: object(1), uint8(3)
memory usage: 16.5+ KB

In [33]:
for i, df in enumerate(dfs):
    df = df.reset_index(drop=True)
    df.to_csv(f'{DATA_PATH}{FILES[i]}_to_merge.csv')